.shackle {
    stroke: #ffff;
    transform-origin:right;
    color: #ffff;
    transition:all .3s ease;
    transform:translateY(0%);
  }
  svg{
    width:100px;
    color: #ffff;
    perspective: 1000px;
    &.unlock {
      .shackle {
        transform:translateY(-20%);
      }
    }
  }